<div class="gap-4">
    <button type="reset" class="btn btn-outline-danger me-3">
        <i class="bi bi-arrow-clockwise me-1"></i>Réinitialiser
    </button>
    <button type="submit" class="btn btn-primary border-0">
        <i class="bi bi-send me-1"></i>soumettre
    </button>
</div>