<header class="fixed-top">
    <section class="">
      <div class="container-fluid d-md-none d-sm-block shadow-sm bg-white">
        <div class="navbar ">
          <div class="navbar-brand">
            <a href="#accueil"><img src="./assets/img/logounivsegou.png" class="logo" alt="logo"></a>
          </div>
          <button type="button" data-bs-toggle="offcanvas" class="btn" data-bs-target="#menu"> <span
              class=" navbar-toggler-icon"></span> </button>
        </div>
      </div>
      <div class="offcanvas offcanvas-start" id="menu">
        <div class="navbar offcanvas-header ">
          <div class="navbar-brand">
            <a href="#accueil"><img src="./assets/img/logounivsegou.png" class="logo" alt="logo"></a>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
          <div class="nav d-block ">
            <a href="#accueil" class="nav-link pb-1 "><i class="bi bi-house fs-5 px-2"></i>Accueil</a>
            <a href="#formation" class="nav-link pb-1"> <i class="bi bi-book fs-5 px-2"></i>Formation</a>
            <a href="#admission" class="nav-link pb-1"><i class="bi bi-person fs-5 px-2"></i>Admission</a>
            <a href="#contact" class="nav-link pb-1"><i class="bi bi-telephone fs-5 px-2"></i>Contact </a>
            <a href="./login.html" class="btn border-0 btn-primary mx-3 my-4"> Se connecter </a>
          </div>
        </div>
      </div>

    </section>

    <div class="container-fluid d-none bg-light-subtle d-md-flex justify-content-between shadow-sm position-sticky px-5 z-2">
      <div class="navbar ">
        <div class="navbar-brand">
          <a href="#accueil"><img src="./assets/img/logounivsegou.png" class="logo" alt="logo"></a>
          <span class="fs-3 fw-bold">IUFP-Segou</span>
        </div>
      </div>
      <div class="nav align-items-center">
        <a href="#acceuil" class="nav-link pb-1 ">Accueil</a>
        <a href="#formation" class="nav-link pb-1">Formation</a>
        <a href="#admission" class="nav-link pb-1">Admission</a>
        <a href="#contact" class="nav-link pb-1">Contact </a>
        <a href="./login.html" class="btn btn-primary border-0"> Se connecter </a>
      </div>
    </div>
  </header>