<div class="sidebar col-md-2 col-1 p-0  text-white bg-primary justify-content-center position-fixed start-0">
    <div class="d-flex flex-column justify-content-center ">
        <div class="row">
            <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                <img src="../assets/img/logounivsegou.png" alt="logo"
                    class="logo img-fluid bg-white rounded-circle p-2">
                <h3 class="inter-tight d-none d-md-block">Easy Process</h3>
            </div>
        </div>
        <div class="border-bottom border-1 border-accent"></div>
        <div class="row p-0 d-block justify-content-center w-100 py-3">
            <a href="main.html"
                class="nav-link d-flex align-items-center gap-2 btn btn-primary ps-md-5 ps-3 rounded-end-5 mb-3 ">
                <i class="bi bi-house fs-3"></i>
                <span class="description d-none d-md-block inter">Dashboard</span>
            </a>
            <a href="main.html"
                class="nav-link d-flex align-items-center gap-2 btn btn-primary ps-md-5 ps-3 rounded-end-5 mb-3"
                data-bs-toggle="collapse" data-bs-target="#demandeSubmenu">
                <i class="bi bi-envelope fs-3"></i>
                <span class="description d-none d-md-block inter">Demandes<i
                        class="bi bi-caret-down-fill small"></i></span>
            </a>
            <div id="demandeSubmenu" class="collapse mb-3">
                <a href="demandes.html"
                    class="nav-link d-flex align-items-center gap-2 btn btn-primary ps-md-5 ps-2 rounded-end-5 mb-md-2">
                    <i class="bi bi-folder fs-4"></i>
                    <span class="description d-none d-md-block inter">Toutes</span>
                </a>
                <a href="validees.html"
                    class="nav-link d-flex align-items-center gap-2 btn btn-primary ps-md-5 ps-2  rounded-end-5 mb-md-2">
                    <i class="bi bi-check-circle fs-4"></i>
                    <span class="description d-none d-md-block inter">Validees</span>
                </a>
                <a href="enCours.html"
                    class="nav-link d-flex align-items-center gap-2 btn btn-primary ps-md-5 ps-2  rounded-end-5 mb-md-2">
                    <i class="bi bi-clock fs-4"></i>
                    <span class="description d-none d-md-block inter">En Cours</span>
                </a>
                <a href="rejetees.html"
                    class="nav-link d-flex align-items-center gap-2 btn btn-primary ps-md-5 ps-2 rounded-end-5 mb-md-2">
                    <i class="bi bi-x-circle fs-4"></i>
                    <span class="description d-none d-md-block inter">Rejetees</span>
                </a>
            </div>
            <a href="main.html"
                class="nav-link d-flex align-items-center gap-2 btn btn-primary ps-md-5 ps-3 rounded-end-5 mb-2 "
                data-bs-toggle="collapse" data-bs-target="#userSubmenu">
                <i class="bi bi bi-people fs-3"></i>
                <span class="description d-none d-md-block inter">Utilisateurs<i
                        class="bi bi-caret-down-fill small"></i></span>
            </a>
            <div id="userSubmenu" class="collapse">
                <a href="main.html"
                    class="nav-link d-flex align-items-center gap-2 btn btn-primary ps-md-5 ps-2  rounded-end-5 mb-md-2">
                    <i class="bi bi-person-gear fs-4"></i>
                    <span class="description d-none d-md-block inter">Admin</span>
                </a>
                <a href="etd.html"
                    class="nav-link d-flex align-items-center gap-2 btn btn-primary ps-md-5 ps-2  rounded-end-5 mb-md-2">
                    <i class="bi bi-person-vcard fs-4"></i>
                    <span class="description d-none d-md-block inter">Etudiants</span>
                </a>
            </div>
        </div>
        <div class="border-top border-1 border-white"></div>
        <div class="row w-100">

            <div class="row ps-md-5 ps-2">
                <a href="main.html" class="nav-link d-flex align-items-center gap-2 ps-3">
                    <i class="bi  bi-power fs-3"></i>
                    <span class="description d-none d-md-block inter">Deconnexion</span>
                </a>
            </div>
        </div>

    </div>


</div>