<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/main-style.css">
    <title><%=title%></title>
</head>

<body>
    <div class="container-fluid">
        <div class="d-flex">
           <%-include("../partials/sidebar.ejs")  %> 
            <div class="main col-sm-11 p-0 bg-light">
                <div class=" navbar shadow-sm d-flex justify-content-between px-2 bg-white mb-lg-5 mb-sm-3">
                    <div class="d-flex align-items-center">
                        
                
                    </div>
                    <div class="d-flex align-items-center justify-content-center bg-light px-2 py-1 rounded-3">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO6hHTSjHsKKlzU-s6F4Sgq2jXEL65w-eQlg&s"
                            alt="User" class="img-fluid rounded-circle profil">
                        <p class="text-accent fs-5 px-3 pt-3 fw-bolder">Cherif Souleymane</p>
                    </div>
                </div>

              <%-body%> 
            </div>
        </div>

    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>