:root {
  --primary: #021342;
  --secondary: #9333EA;
  --accent: #F59E0B;
  --background: #F9FAFB;
  --text-main: #111827;
  --text-muted: #6B7280;
  --success: #10B981;
  --danger: #EF4444;
}

body {
  font-family: 'Merriweather', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-primary {
  color: var(--primary) !important;
  border: none !important;
}


.bg-primary {
  background-color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
}

.btn-primary:hover {
  transform: scale(1.1);
  transition: 0.9s;
  background: linear-gradient(135deg, #021342, #10B981) !important;
}

.bg-accent {
  background: var(--accent);
}

.logo {
  width: 70px;
  height: 70px;
}

.logo:hover {
  transform: scale(1.1);
  transition: 0.9s;
}

.nav-link {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--primary)
}

.nav-link {
  position: relative;
  letter-spacing: 1px;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 10%;
  bottom: 0;
  background: linear-gradient(135deg, #021342, #10B981) !important;
  transition: 1s;
  border-radius: 20px;
  ;
}


.nav-link:hover::after {
  width: 80%;
}

.accueil img {
  width: 100%;
  height: 80vh;
}

.carousel img {
  height: 75vh;
  width: 100%;
  object-fit: cover;
}

.slide-title {
  font-family: 'Lora', serif;
  font-weight: 100;
  font-size: 4rem;
  color: whitesmoke;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;

}

.section-title {
  font-size: 3rem;
  font-weight: 400;
  color: var(--primary);
  font-family: Verdana, Geneva, sans-serif;
}

.border-accent {
  width: 9rem;
  border: solid var(--accent);
}

.card-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.rem;
}

.text-muted {
  font-family: 'Open Sans', sans-serif !important;
}

.card-img-top img {
  height: 150px !important;
}

.x-small {
  font-size: 13px;
}

.card-hover:hover {
  transform: scale(1.07);
  z-index: 10;
  transition: 0.9s;
}

.bg-gradient {
  background: linear-gradient(135deg, #021342, #10B981) !important;
  border: none;
}

.logo-footer {
  height: 100px;
  width: 100px;
}

@media screen and (max-width:480px) {

  .slide-title {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 2rem;
    color: whitesmoke;
  }

  .section-title {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--primary);
    font-family: Verdana, Geneva, sans-serif;
  }

  .card-img-top img {
    height: 150px !important;
    object-fit: cover;
  }

  .left,
  .right {
    border-radius: 0 !important;
  }
}

/************************ login page *******************/
.login-page,
.register-page {
  background: url(../assets/img/img-login.jpg);
  background-size: cover;
  height: 100vh;

}

.logo-lg {
  width: 200px;
  height: 200px;
}

.description-filiere {
  background:
    linear-gradient(150deg, #021342, #10B981),
    url(../assets/img/gi.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;

}

.icon-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 30px;

}

#avantages .card:hover{
  transform: scale(1.07);
  transition: 0.9s;
}