
<div class="text-center text-primary p-5 m-5" style="font-size: 10rem;">
    
    <p class="fw-bolder"> <i class="bi bi-exclamation-triangle text-primary"></i>404 </p>
    <p class="fs-1">page non trouvee</p>
</div>